<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>758/21A, SECTOR, FARIDABAD, HARYANA(INDIA)</p>
                        <p><i class="fa fa-envelope"></i>gautamjn222@gmail.com</p>
                        <p><i class="fa fa-phone"></i>+91-9810633700</p>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Useful Links</h3>
                    <ul>
                        @Html.Action("_footerNavigation1", "Home")
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Quick Links</h3>
                    <ul>
                        @Html.Action("_footerNavigation2", "Home")
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Newsletter</h3>
                    <div class="newsletter">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.857788477381!2d77.29596041507791!3d28.423547682500747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDI1JzI0LjgiTiA3N8KwMTcnNTMuMyJF!5e0!3m2!1sen!2sin!4v1602871338603!5m2!1sen!2sin" width="260" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://deshaurduniya.com">Desh Aur Duniya</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Created By <a href="http://www.sagoni.com/">Sagoni</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->