@*@model News.Model.Header*@


<!-- Top Bar Start -->
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tb-contact">
                    <p><i class="fas fa-envelope"></i>gautamjn222@gmail.com</p>
                    <p><i class="fas fa-phone-alt"></i>+091-9810633700</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tb-menu">
                    <a href="@Url.Content("~/Admin/Index")">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Start -->
<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4">
                <div class="logo" style="background: url(/img/logo_background.png) no-repeat center center;background-size: contain;">
                    <span class="logo_icon">
                        <img src="~/Images/logo_images.gif" />
                    </span>
                    <span class="logo_icon">
                        <img src="http://deshaurduniya.sagoni.com/Images/logodeshdunia.gif">
                    </span>
                    <span class="logo_icon">
                        <img src="~/Images/Mic.png">
                    </span>
                </div>
                <div class="">
                    <span id="date_time">Thursday October 15 2020 7:25:17 PM</span>
                    <script type="text/javascript">window.onload = date_time('date_time');</script>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                @Html.Action("_advertisementTop", "Home")
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->
<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                @Html.Action("_navigation1", "Home")
            </div>
            
        </nav>
        <nav class=" navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse1">
                @Html.Action("_navigation2", "Home")
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->
