@model IEnumerable<News.Model.TopHeadlineNewsModel>
@foreach (var item in Model)
{
<div class="col-md-6">
    <div class="tn-img">
        <img src="@item.NewsImage" style="height: 117px;width: 191px;"/>
        <div class="tn-title">
            @if (@item.Headline.Length > 20)
            {<a href='~/Home/NewsDetail?Id=@item.Id'>@item.Headline.Substring(0, 20) ...</a>}
        else
        { <a href='~/Home/NewsDetail?Id=@item.Id'>@item.Headline</a>}
        </div>
    </div>
</div>
}